<!DOCTYPE html>

<html lang="en-us">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="UTF-8">
    <title>Mathspace Probelm</title>
    <meta name="author" content="Mustafa S">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <meta name="robots" content="nocache,noarchive,noimageindex"/>

</head>

<body>
<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- .container is main centered wrapper -->

<div class="container">
    <h1>Mathspace Problem</h1>
    <h4>Problem Description</h4>
    <p>
        A robot which can move down and right is traversing some terrain that can be
        represented as a hex grid. Find the least cost path from top left to bottom right
        through such a grid. Return the path for the robot to follow.
    </p>
    <h4>Sample Input</h4>
<pre><code>Sample input
46B E59 EA C1F 45E 63
899 FFF 926 7AD C4E FFF
E2E 323 6D2 976 83F C96
9E9 A8B 9C1 461 F74 D05
EDD E94 5F4 D1D D03 DE3
89 925 CF9 CA0 F18 4D2</code></pre>
    <h4>Sample Output</h4>
<pre><code>Sample output
r,r,d,d,r,d,d,r,r,d</code></pre>
    <span>Bonus: Consider allowing the robot to move up and left.</span>
    <hr>
    <h4>Solution</h4>
    <p>The input matrix given is of base 16, so we can change it to base 10 and work
        with the new matrix</p>
<pre><code>
    for i in range(len(matrix)):
        for j in range(len(matrix[0])):
            matrix[i][j] = int(matrix[i][j], 16)
        print ''
</code></pre>

    <p>The idea here is to figure out the path that will give you the minimum cost
        (optimization problem). Since we can move down and right, we have two choices two
        choose from that will give two possibly different costs, in which we should choose
        the minimum. We can start from the bottom right and do the following: </p>

<pre><code>
    def min_cost(cost_matrix, m, n):
        if n < 0 or m < 0:
            return sys.maxint
        elif m == 0 and n == 0:
            return cost_matrix[m][n]
        else:
            return cost_matrix[m][n] + min(min_cost(cost_matrix, m-1, n, memo), # once going up
                                            min_cost(cost_matrix, m, n-1, memo)) # once going left
</code></pre>

    <p>but this is not very efficient because it will repeat some calls that
        are exactly the same, more than once. This is where we need some thing to
        remember what calls we have visited befroe so that we do not execute them twice.
        This technique is called memoization. </p>
    <pre><code>
    def min_cost(cost_matrix, m, n, memo):
        if n < 0 or m < 0:
            return sys.maxint
        elif memo[m][n]:
            return memo[m][n]
        elif m == 0 and n == 0:
            return cost_matrix[m][n]
        else:
            value = cost_matrix[m][n] + min(min_cost(cost_matrix, m-1, n, memo),
                                            min_cost(cost_matrix, m, n-1, memo))
            memo[m][n] = value
            return value
    </code></pre>

    <p>To get the path, we will use our memo matrix to tell us how
        to go from bottom right to top right (since the memo saves
        the minimum at each stage of the path).</p>
    <pre><code>
    def get_path(memo):
        path = ''
        i = len(memo) - 1
        j = len(memo[0]) - 1

        while True:
            if i == 0 and j == 0:
                break

            if i == 0:
                j -= 1
                path += 'r,'
            elif j == 0:
                i -= 1
                path += 'd,'
            elif memo[i-1][j] < memo[i][j-1]:
                i -= 1
                path += 'd,'
            elif memo[i-1][j] > memo[i][j-1]:
                j -= 1
                path += 'r,'

        print 'Path: %s' % path[::-1][1:]
    </code></pre>
    <hr>


    <h4>Interactive solution</h4>
    <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input class="button-primary" type="submit" value="submit" />
    </form>

    <hr>

    {% if path %}
        <h4>Solution</h4>
<pre><code>{{ path }}</code></pre>
        <hr>
    {% endif %}
    {% if invalid_form %}
        <p>Please enter a valid input.</p>
        <hr>
    {% endif %}
</div>


<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

</body>
</html>
